/* ABOUT */
@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.about-container {
    margin: 0 auto !important;
    padding: 0 !important;
}

.about-header {
    display: flex;
    align-items: center !important;
    text-align: center;
    background-color: #3b4961;
    height: 65vh;
}

.about-title {
    font-family: GmarketSansBold;
    color: #2e5fd2;
    font-size: 70px;
    padding-top: 5%;
    margin: 0 auto;
}

.about-title span {
    font-family: RIDIBatang;
    color: #fff;
    font-size: 80%;
}

.about-content-bottom,
.about-content-top {
    text-align: center;
    font-size: 18px !important;
    letter-spacing: 2px;
    margin: 8% auto;
    line-height: 2.5rem;
    width: 35%;
}

.about-content-wrapper {
    display: block;
    background-color: #fbf7f0;
    padding: 10px 0;
    margin: 8% auto;
}

.about-pic {
    filter: drop-shadow(5px 5px 5px #555);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-bottom: 8%;
}

.about-content-bottom span {
    font-family: 'Sacramento', cursive;    
    color: #2e5fd2;
    font-size: 50px;
}

.about-title-bottom {
    font-family: 'Sacramento', cursive !important;
    position: relative;
    top: 100px;
    font-size: 24px !important;
}

@media (max-width: 768px) { 
    .about-content-top,
    .about-content-bottom {
        width: 65%;
    }
    .about-title {
        font-size: 50px;
    }
    .about-title span {
        font-family: RIDIBatang;
        color: #fff;
        font-size: 60%;
    }
}