/* ADMIN */
.admin {
    text-align: center;
    margin: 15% auto !important;
}

.admin h3 {
    font-family: GmarketSansMedium;
    color: #3b4961;
    font-size: 4rem;
}

.admin-box h4 {
    background-color: #2e5fd2;
    color: #fafafa;
    cursor: pointer;
    padding: 8%;
    font-size: 2rem;
    border-radius: 10px;
}

.admin-box h4:hover{
    background-color: #3b4961;
}

.logout {
    cursor: pointer;
    margin: 2% auto;
    margin-bottom: 10%;
    font-size: 24px;
}