/* AUTH */
.login {
    text-align: center;
    margin: 15% auto !important;
}

.login h3 {
    font-family: GmarketSansMedium;
    color: #3b4961;
    font-size: 4rem;
    margin-bottom: 10%;
}

.login .btn {
    background-color: #2e5fd2;
    color: #fafafa;
    padding: 2% 8%;
    font-size: 2rem;
    border-radius: 10px;
}

.login .btn:hover {
    background-color: #3b4961;
    color: #fafafa;
}