/* CONTACT */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.get-in-touch {
    text-align: center;
    margin: 10% auto !important;
}

.get-in-touch .title {
    cursor: pointer;
    color: #3b4961;
    font-size: 50px !important;
    margin-bottom: 0 !important;
}

.contact-form .form-field {
    position: relative;
    text-align: left;
    margin: 32px 0;
}

.contact-form .input-text {
    display: block;
    border-bottom: 2px solid #555;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0 !important;
    font-size: 24px;
    line-height: 30px;
}

.contact-form .input-text:focus {
    outline: none;
}

.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
    -webkit-transform: translateY(-16px);
            transform: translateY(-16px);
}

.contact-form .input-text:valid + .label {
    -webkit-transform: translateY(-16px);
            transform: translateY(-16px);
}

.contact-form .label {
    position: absolute;
    cursor: text;
    color: #3b4961;
    left: 20px;
    bottom: 24px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, 
    -webkit-transform .2s ease-in-out;
}

.js-input option {
    font-size: 12px !important;
}

.contact-form .submit-container {
    text-align: center !important;
}

.contact-form .submit-btn {
    display: inline-block;
    cursor: pointer;
    background-color: #3b4961;
    color: #fafafa;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 8px 16px;
    border: none;
    width:200px;
    border-radius: 20px;
}
  
.contact-form .submit-btn:hover {
    background-color: #2e5fd2;
}

.get-in-touch-info {
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

.get-in-touch-info h3 {
    font-family: 'Sacramento', cursive !important;
    font-weight: bold;
    position: relative;
    font-size: 36px;
    top: -30px;
}

.get-in-touch-info a {
    text-decoration: none !important;
    cursor: pointer;
    position: relative;
    color: #3b4961 !important;
    box-shadow:  3px 3px 6px #d5d5d1, 
    -3px -3px 6px #ffffff;
    padding: 20px 0;
    border-radius: 20px;
    width: 80%;
    margin: 10px auto;
    margin-bottom: 0;
    top: -10px;
}

.get-in-touch-info a:hover {
    background: linear-gradient(145deg, #e1e1dd, #ffffff);
	box-shadow:  3px 3px 6px #d5d5d1, 
             	-3px -3px 6px #ffffff;
}

.get-in-touch-info span {
    font-size: 14px !important;
}

#alert {
    text-align: center;
    font-weight: bold;
    color:#79c879;
    font-size: 24px;
    padding:10px;
    margin: 3% auto !important;
    margin-top: 0 !important;
    z-index: 99999;
}

.get-in-touch-content {
    width: 100%;
}

.contact-form {
    padding: 0 !important;
    margin: 0 auto !important;
}

.file-label {
    bottom: 16px !important;
}

@media (max-width: 992px) {
    .get-in-touch img {
        width: 100%;
        margin: 0 auto !important;
    }
    .get-in-touch-info a {
        margin: 20px auto;
    }
    .get-in-touch-info {
        margin-bottom: 10%;
    }
}

@media (max-width: 768px) { 
    .get-in-touch-content {
        margin: 0 auto !important;
        margin-bottom: 10% !important;
    }
    #alert {
        margin: 5% auto !important;
        margin-bottom: 15% !important;
    }
}