.get-in-touch {
    text-align: center;
    margin: 10% auto !important;
}

.title {
    font-size: 50px !important;
    color: #3b4961;
    margin-bottom: 3%;
}

.contact-circle img {
    filter: drop-shadow(3px 3px 6px #8e8e8b);    
    width: 160px;
    padding: 0 30px;
}

.contact-circle {
    margin-bottom: 3%;
    transition: all .2s ease-in-out;
}

.contact-circle img:hover {
    transform: scale(1.05);
}

.contact-form .form-field {
    position: relative;
    margin: 32px 0;
    text-align-last: left;
}

.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0 !important;
    border-bottom: #555 2px solid;
    font-size: 24px;
    line-height: 30px;
}

.contact-form .input-text:focus {
    outline: none;
}

.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
    -webkit-transform: translateY(-16px);
            transform: translateY(-16px);
}

.contact-form .input-text:valid + .label {
    -webkit-transform: translateY(-16px);
            transform: translateY(-16px);
}

.contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 24px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: #3b4961;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, 
    -webkit-transform .2s ease-in-out;
}

.js-input option {
    font-size: 12px !important;
}

.contact-form .submit-container {
    text-align: center !important;
}

.contact-form .submit-btn {
    display: inline-block;
    background-color: #3b4961;
    color: #fafafa;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 8px 16px;
    border: none;
    width:200px;
    border-radius: 20px;
    cursor: pointer;
}
  
.contact-form .submit-btn:hover {
    background-color: #3b4961;
}

#alert {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 24px;
    padding:10px;
    color:#79c879;
    margin: 3% auto !important;
    z-index: 99999;
}

.get-in-touch-content {
    margin-top: 10%;
    width: 100%;
}

.contact-form {
    padding: 0 !important;
    margin: 0 auto !important;
}

.file-label {
    bottom: 16px !important;
}

@media (max-width: 768px) { 
    .get-in-touch-content img {
        width: 100%;
        margin: 0 auto !important;
        margin-bottom: 10% !important;
    }

    .get-in-touch-content {
        margin: 0 auto !important;
        margin-bottom: 10% !important;
    }

    .contact-circle {
        width: 100px !important;
        padding: 10%;
    }
}