/* MANAGE */
.manage {
    text-align: center !important;
    cursor: pointer;
    background-color: #fafafa !important;
    margin: 10% auto !important;
    margin-bottom: 0% !important;
}

.title {
    color: #3b4961;
    font-size: 50px;
    margin-bottom: 0;
}