.not-found {
    margin: 15% auto;
    text-align: center;
}

.error-template {
    margin: 0 auto;
}

.not-found h1 {
    background-color: #0275d8;
    color: #f7f7f7;
    width: 25%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.error-details {
    width: 40%;
    margin: 0 auto;
}

.not-found .btn {
    margin: 3%;
    border-radius: 10px;
    box-shadow:  3px 3px 6px #d5d5d1, 
    -3px -3px 6px #ffffff;
}

.not-found .btn:hover {
    background: linear-gradient(145deg, #e1e1dd, #ffffff);
	box-shadow:  3px 3px 6px #d5d5d1, 
             	-3px -3px 6px #ffffff;
}
