/* UPLOAD */
.upload {
    color: #2e5fd2;
    margin: 10% auto !important;
}

select {
    display: block;
} 

.upload-form {
    width: 100%;
    margin: 0 !important;
}

.upload .title {
    text-align: center;
    color: #3b4961;
    font-size: 4rem;
    margin-bottom: 3%;
}

.upload-form .upload-attach {
    text-align: center;
    width: 100%;
    height: 350px !important;
}

.upload-form img,
.upload-clear {
    text-align: center;
}

.upload-form input {
    border-bottom: 1px solid #2e5fd2;
    margin-bottom: 10px;
}

.upload-form select {
    margin-bottom: 10px;
}

.checkbox {
    color: #3b4961 !important;
}

.upload-arrow {
    text-align: center;
    box-sizing: border-box;
    background-color: #fafafa;
    color: #2e5fd2;
    width: 100%;
    border: 1px solid #2e5fd2;
    padding: 10px 0px;
    border-radius: 20px;
}

.upload-arrow:hover {
    background-color: #3b4961;
    color: #fafafa;
    border: 2px solid #3b4961;
}
  
.upload-label {
    cursor: pointer;
    color: #2e5fd2;
}
  
.upload-label span {
    margin-right: 10px;
    font-size: 17px !important;
}
 
.upload-attachment {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.upload-attachment img {
    width: 300px;
    height: 200px;
}
  
.upload-clear {
    cursor: pointer;
    color: #2e5fd2;
    width: 300px;
    margin-top: 5px;
}
  
.upload-clear span {
    margin-right: 10px;
    font-size: 16px;
}

.link-youtube {
    background: #2e5fd2 !important;
    color: #fafafa !important;
    border-radius: 20px !important;
}

.upload-back {
    text-align: center;
    margin: 5% auto;
}
