.youtube-page {
    margin: 0 auto !important;
    margin: 10% auto !important;
    margin-bottom: 0% !important;
    text-align: center !important;
    background-color: #fafafa !important;
}

.youtube-title {
    font-size: 50px !important;
    color: #3b4961;
    margin: 0 auto !important;
    margin-bottom: 5% !important;
    cursor: pointer;
}

.youtube-item,
.youtube-list {
    margin: 0 auto !important;
    margin-bottom: 5% !important;
}

.youtube-vid {
    border: 5px solid #fafafa;
    margin-bottom: 0 !important;
    margin-right: 0;
    margin-left: 0;
    margin: 0 auto;
}

.youtube-item {
    filter: drop-shadow(3px 3px 6px #8e8e8b);
}

.youtube-item h4 {
    font-family: GmarketSansMedium !important;
    margin: 0 auto;
    width: 300px;
    height: 130px !important;
    font-size: 20px;
    color: #2e5fd2;
    background-color: #fafafa;
    padding: 3%;
    display: flex;
    align-items: center;
}

.youtube-sub {
    text-decoration: none !important;
    font-size: 20px;
    background-color: #2e5fd2;
    color: #fafafa;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5%;
    height: 50px;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 20px;
}

.youtube-sub svg {
    margin-left: 10px;
}

.youtube-sub:hover {
    background-color: #3b4961;
    color: #fafafa;
}

@media (max-width: 768px) {
    .youtube-title {
        font-size: 40px !important;
    }
}