/* YOUTUBE UPLOAD */
.youtube-upload form {
    margin: auto;
    width: 60%;
}

.youtube-upload input {
    border-bottom: 1px solid #2e5fd2;
    margin-top: 10%;
    font-size: 24px;
    width: 100%;
}

.youtube-upload .upload-arrow {
    padding: 0;
    margin: 10% auto;
}

@media (max-width: 768px) { 
    .youtube-upload form {
        width: 90%;
    }
}