div.home {
    display: block;
    height: 85vh !important;
    background: rgb(251,236,236);
    background: linear-gradient(320deg, rgba(251,236,236,1) 14%, rgba(171,196,213,1) 94%);
}

.header-top {
    overflow: hidden !important;
    height: 85vh !important;    
}

.header {
    margin: 10% auto !important;
}

h2 {
    font-family: GmarketSansMedium !important;
    font-size: 4rem !important;
    z-index: 10000;
    color: #3b4961 !important;
}

.home-type {
    color: #2e5fd2 !important;
}

.home-building {
    position: absolute;
    top: 52%;
}

.home-search {
    width: 80% !important;
    margin: 20% 0;
    background-color: #2e5fd2;
}

.home-circle {
    position: fixed;
    float: right;
    right: 10px;
    transition: all .2s ease-in-out;
}

.home-circle img:hover {
    transform: scale(1.05);
}

.home-circle img {
    width: 100px;
    padding-bottom: 10%;
    filter: drop-shadow(3px 3px 6px #8e8e8b);
}

.search-btn {
    color: #fafafa !important;
}

@media (max-width: 992px) {
    .home-search {
        width: 120% !important;
        z-index: 99999;
    }
    .home-building {
        top: -100px;
        left: 20%;
        width: 80%;
    }    
}
@media (max-width: 768px) {
    .home {
        height: 80vh !important;
    }
    .home-circle {
        visibility: hidden;
    }
    .home-search {
        width: 100% !important;
        z-index: 999;
    }
    .home-search .form-control,
    .home-search .btn {
        font-size: 15px !important;
    }
    .home-circle {
        z-index: 9999;
    }
    .home-building {
        left: 0 !important;
        top: -100px;
        width: 120%;
    }    
}