/* PRODUCT RECOMMENDATION */
.product-recom {
    text-align: center !important;
    background-color: #fafafa !important;
    cursor: pointer;
    margin: 10% auto !important;
    margin-bottom: 0% !important;
}

.product-recom-container {
    padding: 0 !important;
    margin: 0 !important;
}

.product-recom-title {
    margin-bottom: 5%;
    font-size: 50px;
}

.product-recom-nav span {
    padding: 0 10px !important;
    font-size: 18px;
}

.product-recom-item {
    width: 100%;
    filter: drop-shadow(3px 3px 6px #8e8e8b) !important;
    margin-bottom: 3% !important;
}

.product-recom-item h4 {
    text-align: left;
    background-color: #2e5fd2;
    color: #fafafa;
    margin: 0;
    padding: 15px;
    height: 90px;
    font-size: 22px !important;
}

.product-action {
    position: absolute;
    background-color: #fafafa;
    color: #2e5fd2;
    border: 2px solid #2e5fd2;
    padding: 0 2px;
    left: 30px;
    top: 100px;
}

.product-id {
    font-size: 16px;
    margin-right: 5px;
    padding: 3px;
}

.product-recom-item img {
    width: 100%;
    height: 300px;
    margin: 0;
    background: #fafafa;
}

.product-recom-list {
    background-color: #fafafa !important;
    padding: 30px 0;
    margin: 0 !important;
}

.product-recom .load__btn {
    color: #fafafa;
    background-color: #2e5fd2;
    width: 340px;
    padding: 6px 12px !important;
    margin: 0 auto !important;
    margin-top: 5% !important;
    font-size: 20px !important;
    border-radius: 20px;
}

.product-recom .load__btn:hover {
    color: #fafafa;
    background-color: #3b4961;
}

.product-won {
    font-size: 26px;
    font-weight: bold;
}

.product-location {
    font-size: 18px;
}

.product-location svg {
    margin-right: 5px;
}

.product-sold {
    position: relative;
    top: 20% !important;
    height: 350px !important;
    background-color: transparent !important;
}

.product-detail {
    border-top: 1px solid #3b4961;
    padding:15px 0;
    width: 85%;
    height: 100px;
    margin: 0 auto;
    font-size: 18px;
}

.product-detail p {
    text-align: left;
    margin: 0 auto;
    margin-top: 10px;
    height: 40px;
    margin-bottom: 0;
}

.product-detail span {
    width: 50%;
}

.product-id {
    background-color: #fafafa;
    color: #3b4961;
}

@media (max-width: 992px) {
    .product-recom .product-recom-list {
        margin-bottom: 5% !important;
    }
}

@media (max-width: 768px) {
    .product-recom {
        display: block;
        margin-top: 30% !important;
    }

    .product-recom-item {
        margin-bottom: 10%;
    }

    .product-recom .load__btn {
        margin-bottom: 30%;
    }
}