.product-recom {
    margin: 10% auto !important;
    margin-bottom: 0% !important;
    text-align: center !important;
    background-color: #fafafa !important;
    cursor: pointer;
}

.product-recom-title {
    font-size: 50px;
    margin-bottom: 5%;
}

.product-recom-nav span {
    padding: 0 10px !important;
}

.product-recom-item {
    width: 100%;
    margin-top: 5%;
}

.product-recom-item h4 {
    color: #2e5fd2;
}

@media (max-width: 768px) {
    .product-recom {
        margin-top: 30% !important;
        display: block;
    }
}