.product-list {
    margin: 10% auto !important;
    margin-bottom: 0% !important;
    text-align: center !important;
    background-color: #fafafa !important;
}

.product-title {
    font-size: 50px;
    margin-bottom: 5%;
}

.top-row {
    margin-bottom: 5% !important;
}

.product-item img {
    width: 100%;
    transition: all .3s ease-in-out;
    filter: drop-shadow(3px 3px 6px #8e8e8b);
    border-radius: 20px;
}

.product-item img:hover {
    transform: scale(1.05);
}

.product-item {
    cursor: pointer;
}

@media (max-width: 768px) { 
    .product-list {
        margin-top: 30% !important;
        display: block;
    }

    .product-item {
        color: #fafafa;
        margin-bottom: 10% !important;
    }
}