.search-card-item {
    margin-top: 5%;
}

.search-card-item img {
    width: 100%;
}

.formInput {
    width: 100%;
    border: 1px solid #333333;
    margin: 5px auto;
}

.manage-form {
    text-align: left;
    margin-top: 20% !important;
}

.formBtn {
    cursor: pointer;
    width: 100%;
    height: 35px;
    padding: 7px 20px;
    margin: 2px auto;
    text-align: center;
    color: white;
    border-radius: 20px;
    background-color: #04aaff;
    cursor: pointer;
}
  
.cancelBtn {
    cursor: pointer;
    width: 100% !important;
    background-color: tomato;
}

.formInput {
    width: 100%;
}

.product__actions {
    position: absolute;
    bottom: 0;
}

.product__actions svg {
    margin: 0 5px;
}

@media (max-width: 768px) {
    .search-card-item  {
        margin-top: 30% !important;
        display: block;
    }
}