/* SEARCH CARD */
.search-card {
    padding: 0 10px !important;
    background-color: #fff;
    filter: drop-shadow(3px 3px 6px #8e8e8b);
}

.search-card-item {
    margin-bottom: 5%;
}

.search-card-item img {
    width: 100%;
}

.formInput {
    width: 100%;
    border: 1px solid #333333;
    margin: 5px auto;
}

.manage-form {
    text-align: left;
    padding: 40px 0 !important;
}

.formBtn {
    cursor: pointer;
    text-align: center;
    color: white;
    cursor: pointer;
    background-color: #04aaff;
    width: 100% !important;
    border-radius: 20px;
    padding: 7px 0;
    margin-top: 5px;
    font-size: 16px !important;
}
  
.cancelBtn {
    cursor: pointer;
    background-color: tomato;
    width: 100% !important;
}

.formInput {
    width: 100%;
    font-size: 16px !important;
}

.product__actions {
    position: absolute;
    bottom: 0;
}

.product__actions svg {
    margin: 0 5px;
}

@media (max-width: 768px) {
    .search-card-item  {
        display: block;
        margin-top: 30% !important;
    }
}