/* YOUTUBE CARDS */
.youtube-cards {
    text-align: center !important;
    background-color: #fafafa !important;
    margin: 10% auto !important;
    margin-bottom: 0% !important;
}

.youtube-cards-title {
    font-size: 50px;
    margin-bottom: 5%;
}

.youtube-cards .youtube-item .btn {
    visibility: hidden;
}

.youtube-cards .youtube-item:hover .btn {
    visibility: visible;
    transform: translateX(-10%, 10%);
}

.youtube-cards .youtube-item {
    margin: 0 auto !important;
    transition: all .2s ease-in-out;    
    margin-bottom: 3% !important;
}

.youtube-cards .btn {
    width: 300px;
    font-size: 20px !important;
}

.youtube-cards .load__btn {
    color: #fafafa;
    background-color: #2e5fd2;
    margin: 0 auto;
    margin-bottom: 10%;
    font-size: 20px !important;
    width: 300px;
    border-radius: 20px;
}

.youtube-cards .load__btn:hover {
    color: #fafafa;
    background-color: #3b4961;
}

@media (max-width: 768px) {
    .youtube-cards {
        display: block;
        margin-top: 30% !important;
    }
    
    .youtube-cards-title {
        font-size: 40px !important;
    }
    
    .youtube-cards .load__btn {
        margin-bottom: 30%;
    }
}
