/* YOUTUBE CARDS */
.youtube-cards {
    text-align: center !important;
    background-color: #fafafa !important;
    margin: 10% auto !important;
    margin-bottom: 0% !important;
}

.youtube-cards .row {
    margin: 0 auto;
}

.youtube-cards-title {
    font-size: 50px;
}

.youtube-cards .youtube-item .btn {
    visibility: hidden;
}

.youtube-cards .youtube-item:hover .btn {
    visibility: visible;
    transform: translateX(-10%, 10%);
}

.youtube-cards .youtube-item {
    margin-bottom: 3% !important;
    transition: all .2s ease-in-out;    
}

.youtube-cards .youtube-item h4 {
    margin: 0 auto;
}

.youtube-cards .btn {
    text-align: center !important;
    font-size: 20px !important;
    width: 300px !important;
}

.youtube-cards .load__btn {
    color: #fafafa;
    background-color: #2e5fd2;
    margin: 0 auto;
    margin-top: 5% !important;
    margin-bottom: 10%;
    border-radius: 20px;
}

.youtube-cards .load__btn:hover {
    color: #fafafa;
    background-color: #3b4961;
}

@media (max-width: 768px) {
    .youtube-cards {
        display: block;
    }
    .youtube-cards-title {
        font-size: 40px !important;
    }
    .youtube-cards .load__btn {
        margin-top: 10%;
        margin-bottom: 30%;
    }
}
