/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* GENERALS */
* {
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}
  
input {
    all: unset;
    box-sizing: border-box;
    appearance: none;
}
  
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Nanum Gothic', sans-serif;
    background-color: #fafafa !important;
    color: #3b4961;
    font-size: 14px;
    width: 100%;
}

h1 {
    font-family: GmarketSansBold;
}

h3 {
    font-family: GmarketSansMedium;
    color: #3b4961 !important;
}

a,
button {
    cursor: pointer;
}

a:active, 
a:focus {
    border: none;
    outline-style: none;
    outline: 0;
}

input,
select,
textarea,
button {
    outline: none !important;
    outline-width: 0 !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
    outline-width: 0 !important;
}

::selection {
    background-color: #ddb19e;
    color: #3b4961;
}